{% extends 'page/base.html' %}
{% load static %}
{% block page-title %}Contact{% endblock %}
{% block aboutSelected %}selected{% endblock %}

{% block content %}
    <h2 class='section-title'>About</h2>
    <p>Introducing Redllow, a web-based product that assists homebuyers by displaying the average and median housing prices by zip code for the DMV area. Satellite imagery is used to map neighborhoods, and real estate data from Zillow is aggregated to calculate and visualize median and average housing prices in 2024. Additionally, a crowdsourced neighborhood insights feature allows local residents to contribute ratings and qualitative reviews regarding school quality, crime rates, amenities, and overall community experience.</p>
{% endblock %}