html, body {
  background-color: #e5e5e6;
  color: #333333;
  font-family: Helvetica, Arial, serif;
  margin: 0;
  padding: 0;
}

/* header styles */
div#title-box img {
  max-width: 9em;
}

div#logged-in {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  margin-top: 2%;
}

div#logged-in img {
  display: inline;
  float: left;
  max-width: 5em;
  height: 3em;
  margin: 0 1em 0 0;
}

div#logged-in span{
  border: .1em solid #c5bfbf;
}

div#logged-in button{
  display: block;
  margin-top: 1em;
}

nav#navbar {
  clear: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  color: #dddddd;
  background-color: #9e0919;
  width: 100%;
}

nav#navbar a {
  padding: .7em 0 .7em 0;
  text-align: center;
  width: 20%;
  color: white;
  text-decoration: none;
}

form#search {
  display: inline-flex;
}

nav#navbar input {
  padding: .7em;
}

nav#navbar a:hover {
  background-color: #999999;
}

nav#navbar a.selected {
  background-color: dimgrey;
}

/* content styles*/
ul.messages {
    font-weight: bold;
    padding: 1em;
    margin: 0;
    list-style: none;
}

ul.messages li.success {
    background-color: lightgreen;
    padding: 1em;
    margin: 0.25em;
}

ul.messages li.info {
    background-color: dodgerblue;
    padding: 1em;
    margin: 0.25em;
}

ul.messages li.warning {
    background-color: #ff1b1b;
    padding: 1em;
    margin: 0.25em;
}

#register-users {
    margin: 1em 15em 8em 15em;
    display: flex;
    flex-direction: column;
}

div.regdiv {
    margin: .5em 0 .5em 0;
}

div.regdiv input {
    margin-left: 1em;
}

#register-users .regdiv label {
  width: 2em;
  text-align: right;
  margin-right: 10px;
}

#reg-submit {
    width: 20%;
}

dl#profile-list {
    margin: 0 8em 0 8em;
}

dt.itemDes {
    margin: 2em 0 .5em 0;
}

dd.item {
    margin: 0 0 2em 0;
}

div#comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div#comment-box {
    border: .1em solid #070101 !important;
    text-decoration: none;
    text-align: left;
    margin: 0 8em 0 8em;
}

ul#comments-list {
    padding: 0 0 0 .8em;
    width: 100%;
}

ul#comments-list li {
    list-style-type: none;
    text-align: left;
}

ul#comments-list li img {
    display: inline;
    float: left;
    max-width: 1.5em;
    margin-right: .7em;
}

ul#comments-list li p {
    text-align: left;
    font-size: 1em;
}
.edit-comment {
    width: 4em;
}

#comment-bottom {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#comment-bottom input[type="text"] {
    flex: 1;
    margin-right: 10px;
    box-sizing: border-box;
}

a.editprofile {
    margin-bottom: 10em;
    margin-right: 15em;
    text-decoration: none;
    border: .15em solid #100b0b;
    padding: .3em .5em .3em .5em;
    float: right;
    color: #7e7676;
}

div#content {
  clear: left;
  background-color: #ffffff;
  overflow: hidden;
}

div#content h2 {
  text-align: center;
  font-size: 2em;
}

div#content p {
  margin-left: 7%;
  margin-right: 7%;
  font-size: 1.5em;
}

/* footer styles styles */
div#footer {
  position: static;
  margin-top: 1em;
  color: #ffffff;
  border-top: .1em solid #ddd;
}

div#copyright {
  margin-left: 12.5%;
  display: block;
  float: left;
  width: 50%;
  color: black;
  font-size: small;
}

/* mobile styles */
@media (max-width: 768px) {
  /* header styles*/
  div#header {
    display: flex;
    flex-direction: column;
  }

  div#title-box h2 {
    font-size: large;
    display: block;
  }

  nav#navbar a {
    font-size: small;
  }

  /* content styles*/

  /* footer styles */
  div#footer {
    display: flex;
    flex-direction: column;
  }
  div#footer-nav  {
    margin-left: 12.5%;
    margin-bottom: 10%
  }
}

/* browser styles */
@media all and (min-width: 769px) {
  /* header styles */
  div#title-box {
    position: static;
    float: left;
    width: 65%;
    margin-left: 12.5%;
    margin-bottom: 2em;
  }

  div#title-box img {
    display: inline;
    float: left;
    margin: 2em 1em 0 0;
  }

  div#title-box h2 {
    font-size: large;
    display: block;
  }

  /* content styles*/

  /* footer styles */
  div#footer-nav  {
    margin-right: 12.5%;
  }
}